<!DOCTYPE html>
<html>
  <head>
    <title>Moma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to 'All Artist', artists_path %>
        <%= link_to 'New Artist', new_artist_path %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
